*{
    margin: 0;
    padding: 0;
    /*outline: 1px solid red ;*/
}
 @font-face {
    font-family: Pixel; /* Гарнитура шрифта */
    src: url(../fonts/Pixel.ttf); /* Путь к файлу со шрифтом */
   }
   h1 {
    font-family: 'Pixel', sans-serif;
   }
a{
    text-decoration: none;
}

body{
    font-family: 'Pixel', sans-serif;
}
header{
    width: 100%;
    background: #4b4b4b;
    display: flex;
    padding-bottom: 3px;
    position: fixed;   top: 0;   left: 0;   z-index: 9999;
    border-bottom: 3px solid #4b4b4b;
}
.header__logo{

    color: #b8b8b8;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 12px;
}
nav{
    margin-top: 12px;
    margin-left: auto;
    margin-right: 12px;
}
.topnav a{
    color: #b8b8b8;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}
.topnav a:hover{
    border-bottom: 3px solid #b8b8b8;
}
.topnav .icon{
    display: none;
}
.about{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    background-color: #242424;
}

.skills{
    display: inine-block;
    background-color: #242424;
	padding-bottom: 50px;
}
.skills h4{
	padding-top: 60px; 
	text-align:center;
    color: #b8b8b8;
    font-size: 30px;
}
.skills div{
	margin: 0 auto;
	display: flex;
	margin-bottom: 50px;
}
.skills ul{
	margin: 0 auto;
    color: #b8b8b8;
    margin-top: 90px;
	list-style-type: none;

}

ul li h3{
	margin-bottom: 10px;
}
.media{
    display: block;
    background-color: #4b4b4b;
	text-align: center;
}
.media img {
	height:100%;
	max-height:100px;
	max-width:100px;
}
.media img:hover {
	transform: translateY(-2px); 
}

.copyright {
    display: block;
    height: 100px;
    background-color: #242424;
	text-align: center;

}
.copyright a{
	position: relative;
	top: 50%;
	color: #b8b8b8;
	font-size: 28px;
}
.about h4{
    margin: 0 auto;
    color: #b8b8b8;
    margin-top: 130px;
    font-size: 30px;
}
.about span{
    margin: 0 auto;
    color: #b8b8b8;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
	margin-bottom: 50px;
    text-align: justify;
}

.portfolio{
    display: flex;
    flex-direction: column;
    background-color: #4b4b4b; 
	text-align:center;
}

.portfolio h4{
    margin: 0 auto;
    color: #b8b8b8;
    margin-top: 60px;
    font-size: 30px;
}
.portfolio__box {
    display: flex;
	text-align: center;
}
.portfolio__box div{
	margin: 0 auto;
    display: flex;
    background-color: #b8b8b8;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.portfolio_img{
    width:100%;
    height:100%;

	text-align: center;
}
.about__portfolio{
    display: block;
    margin: 0 auto;
    width:250px;
    height:40px;
    background-color: #242424;
    border: none;
    outline:none;
	margin-bottom: 50px;
	margin-top: 50px;
}
.about__portfolio:hover{
    background: #1c1c1c;
}
.about__portfolio:active{
    transform: translateY(5px); 
}
.about__portfolio p{
    color: #b8b8b8;
    font-size: 20px;
    font-family: 'Pixel', sans-serif;
}





@media screen and (max-width: 1010px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -120px;
    }
    header .topnav.responsive{
        height: 200px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -120px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
	.portfolio__box {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	.portfolio_img{
		margin: 0 auto;

		text-align: center;
		max-height:600px;
		max-width:450px;
	}
	.about{
		display: flex;
		flex-direction: column;
		margin-top: 48px;
		background-color: #242424;
	}
	.about span {
		margin-left: 10%;
		margin-right: 10%;

	}
	.skills div{
		margin: 0;
		display: block;
		text-align: center;
	}
	.skills ul li{
		text-align: center;
		margin: 0 auto;
	}
}



